.eventEntry {
  background: #E2ECF5;
  border-left: solid #6E9ECF;
  position: absolute;
  opacity: 0.9;
  font-family: "Open Sans", Times, serif;
  font-size: 14px;
  padding: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
