.dayViewMain{
   position: relative;
}

.dayViewSkeleton{


}

.hourSection{
  height: 100%;
  margin-right: 10px
}

.hourTitle{
  height: 200px;
  border-top: 1px solid gray;
}

.eventsSection{
  position: absolute;
  background: lightgrey;
  opacity:0.5;
  height: 100%;
  top: 0;
  right: 0;
}

.hourHalfSection{
	height: 100px;
}

.dottedBorderTop{
	border-top: 1px dotted gray;
}

.solidBorderBottom{
	border-bottom: 1px solid black;
}

.hourLine{
  border-bottom: 1px solid;
  border-top: 1px solid;
  height: 100%
}

.eventSection{
  position: absolute;
  background: lightgreen;
  height:100px;
  width: 100px;
}
