.dayViewMain {
  position: relative;
}

.hourSection {
  height: 100%;
  margin-right: 10px;
}

.hourTitle {
  height: 200px;
  border-top: 1px solid gray;
  font-family: "Open Sans", Times, serif;
  font-size: 16px;
  font-weight: 200px
}

.eventsSection {
  position: absolute;
  opacity: 0.5;
  height: 100%;
  top: 0;
  right: 0;
}
